In [1]:
import tabula

In [2]:
pdf1_path = "D:/Dataset/pdfimages/data.pdf"
pdf2_path = "D:/Dataset/pdfimages/campaign_donors.pdf"

In [3]:
df_data = tabula.read_pdf(pdf1_path, stream=True, pages= 'all', multiple_tables=False)

In [4]:
print(len(df_data))

1

In [8]:
df_data[0]

,Unnamed: 0,mpg,cyl,disp,hp,drat,wt,qsec,vs,am,gear,carb
0,Mazda RX4,21.0,6,160.0,110,3.90,2.620,16.46,0.0,1.0,4.0,4.0
1,Mazda RX4 Wag,21.0,6,160.0,110,3.90,2.875,17.02,0.0,1.0,4.0,4.0
2,Datsun 710,22.8,4,108.0,93,3.85,2.320,18.61,1.0,1.0,4.0,1.0
3,Hornet 4 Drive,21.4,6,258.0,110,3.08,3.215,19.44,1.0,0.0,3.0,1.0
4,Hornet Sportabout,18.7,8,360.0,175,3.15,3.440,17.02,0.0,0.0,3.0,2.0
...,...,...,...,...,...,...,...,...,...,...,...,...
57,16.5,VC,1.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
58,16.5,VC,1.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
59,15.2,VC,1.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
60,17.3,VC,1.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
61,22.5,VC,1.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [9]:
df_data2 = tabula.read_pdf(pdf2_path, stream=True, pages= 'all', multiple_tables=False)

In [10]:
print(len(df_data2))

1

In [11]:
df_data2[0]

,Apellido Nombre,Unnamed: 1,Matricula,Cuit,Fecha,Tipo,Importe
0,MENA JUAN MARTÍN,NaN,27.083.460,20-27083460-5,09/10/2013,EFECTIVO,"$ 10.000,00"
1,MOLLE MATÍAS,NaN,25.348.547,20-25348547-8,09/10/2013,EFECTIVO,"$ 10.000,00"
2,MOLLEVI FEDERICO OSCAR,NaN,25.028.246,20-25028246-0,09/10/2013,EFECTIVO,"$ 10.000,00"
3,PERAZZO PABLO DANIEL,NaN,25.348.394,20-25348394-7,09/10/2013,EFECTIVO,"$ 10.000,00"
4,PICARDI FRANCO EDUARDO,NaN,27.382.271,20-27382271-3,09/10/2013,EFECTIVO,"$ 10.000,00"
5,PISONI CARLOS ENRIQUE,NaN,26.034.823,20-26034823-0,09/10/2013,EFECTIVO,"$ 10.000,00"
6,PONTORIERO MARÍA PAULA,NaN,23.249.597,27-23249597-4,09/10/2013,EFECTIVO,"$ 10.000,00"
7,PULESTON JUAN MIGUEL,NaN,11.895.661,20-11895661-4,09/10/2013,EFECTIVO,"$ 10.000,00"
8,REMÓN MABEL AURORA,NaN,11.292.939,27-11292939-3,09/10/2013,EFECTIVO,"$ 10.000,00"
9,SARRABAYROUSE DIEGO,NaN,24.662.899,20-24662899-9,09/10/2013,EFECTIVO,"$ 10.000,00"
10,SPATOLA ANALÍA CARMEN,NaN,24.560.922,27-24560922-7,09/10/2013,EFECTIVO,"$ 10.000,00"
11,STAMILLA SERGIO ADRIÁN,NaN,29.364.226,20-29364226-6,09/10/2013,EFECTIVO,"$ 10.000,00"
12,SZARANGOWICZ GUSTAVO ALEJANDRO,NaN,25.096.244,20-25096244-5,09/10/2013,EFECTIVO,"$ 10.000,00"
13,TAILHADE LUIS RODOLFO,NaN,21.386.299,20-21386299-6,09/10/2013,EFECTIVO,"$ 10.000,00"
14,TEDESCHI ADRIÁN ALBERTO,NaN,24.171.507,20-24171507-9,09/10/2013,EFECTIVO,"$ 10.000,00"
15,URRIZA MARÍA TERESA,NaN,18.135.604,27-18135604-4,09/10/2013,EFECTIVO,"$ 10.000,00"
16,USTARROZ GERÓNIMO JAVIER,NaN,24.912.947,20-24912947-0,09/10/2013,EFECTIVO,"$ 10.000,00"
17,VALSANGIACOMO BLANCOFERNANDO JORGE,NaN,26.800.203,20-26800203-1,09/10/2013,EFECTIVO,"$ 10.000,00"
18,VICENTE PABLO ARIEL,NaN,21.897.586,20-21897586-1,09/10/2013,EFECTIVO,"$ 10.000,00"
19,AMBURI HUGO ALBERTO,NaN,14.096.560,20-14096560-0,09/10/2013,EFECTIVO,"$ 20.000,00"
20,BERRA CLAUDIA SUSANA,NaN,14.433.112,27-14433112-0,09/10/2013,EFECTIVO,"$ 10.000,00"
21,LASALA RICARDO ALBERTO,NaN,21.760.811,20-21760811-3,09/10/2013,EFECTIVO,"$ 10.000,00"
22,AZPITARTE MARCELO CARLOS,NaN,16.018.569,20-16018569-5,09/10/2013,EFECTIVO,"$ 10.000,00"
23,BERARDO CRISTINA BEATRIZ,NaN,12.609.615,27-12609615-7,09/10/2013,EFECTIVO,"$ 10.000,00"
24,OREIRO RODOLFO MIGUEL,NaN,13.655.728,23-13655728-9,09/10/2013,EFECTIVO,"$ 10.000,00"
25,FAIENZA MIGUEL ERNESTO,NaN,27.264.638,20-27264638-5,09/10/2013,EFECTIVO,"$ 20.000,00"
26,GRANILLO FERNANDEZ JUAN MANUEL,NaN,27.235.280,20-27235280-2,09/10/2013,EFECTIVO,"$ 10.000,00"
27,RODRIGUEZ PINGITORE CLAUDIA MONICA,NaN,23.343.332,27-23343332-8,09/10/2013,EFECTIVO,"$ 10.000,00"
28,CORBELLA TERESITA GRACIELA,NaN,11.353.491,27-11353491-0,09/10/2013,EFECTIVO,"$ 5.000,00"
29,CORVINO GERMAN HORACIO,NaN,27.491.524,20-27491524-3,09/10/2013,EFECTIVO,"$ 20.000,00"
30,GARCIA DELATOUR AGUSTINA,NaN,29.501.230,27-29501230-2,09/10/2013,EFECTIVO,"$ 5.000,00"
31,AGUIRRE LIDIA ELIZABETH,NaN,17.997.634,27-17997634-5,09/10/2013,EFECTIVO,"$ 5.000,00"
32,FORNERO RAUL OSCAR,NaN,10.177.167,23-10177167-9,09/10/2013,EFECTIVO,"$ 5.000,00"
33,SKOCILIC NATALIA ELIZABETH,NaN,30.237.737,27-30237737-0,09/10/2013,EFECTIVO,"$ 5.000,00"
34,SARRA CARMEN,NaN,11.812.381,27-11812381-1,09/10/2013,EFECTIVO,"$ 20.000,00"
35,VIVALDO MARÍA ITATÍ,NaN,20.458.214,27-20458214-4,09/10/2013,EFECTIVO,"$ 10.000,00"
36,LORENZO FERNANDO LUIS,NaN,22.608.380,20-22608380-5,09/10/2013,EFECTIVO,"$ 15.000,00"
37,VESTILLERO CARLOS SEBASTIAN,NaN,25.638.595,20-25638595-4,09/10/2013,EFECTIVO,"$ 10.000,00"
38,CASTRO MARIA VICTORIA,NaN,22.642.061,23-22642061-4,09/10/2013,EFECTIVO,"$ 10.000,00"
39,PÉREZ SIMONDINI ANDREA FABIANA,NaN,17.768.992,27-17768992-6,09/10/2013,EFECTIVO,"$ 10.000,00"
40,CLAVERO MITRE LILIANA INES,NaN,11.176.760,27-11176760-8,09/10/2013,EFECTIVO,"$ 10.000,00"
41,SÁNCHEZ MARIANA CLARA,NaN,20.205.651,27-20205651-8,09/10/2013,EFECTIVO,"$ 10.000,00"
42,TALLÓN MATÍAS NORBERTO,NaN,33.498.601,20-33498601-3,09/10/2013,EFECTIVO,"$ 10.000,00"
43,SUAREZ FERNANDO,NaN,11.633.291,20-11633291-5,09/10/2013,EFECTIVO,"$ 10.000,00"
44,TARSINO MARIA EVELYN,NaN,23.276.482,27-23276482-7,09/10/2013,EFECTIVO,"$ 10.000,00"
45,GRIMBERG MARQUEZ PAULA,NaN,27.680.600,27-27680600-4,09/10/2013,EFECTIVO,"$ 10.000,00"
46,THORP MARIO,NaN,18.179.104,20-18179104-8,09/10/2013,EFECTIVO,"$ 10.000,00"
47,BARABAN LORENA ELIZABETH,NaN,23.747.106,27-23747106-2,09/10/2013,EFECTIVO,"$ 10.000,00"
48,FRECHERO EZEQUIEL,NaN,27.746.115,20-27746115-4,09/10/2013,EFECTIVO,"$ 10.000,00"
49,TORRES CARLOS HUGO,NaN,25.957.223,20-25957223-2,09/10/2013,EFECTIVO,"$ 10.000,00"
50,BILLERES GASTON MARTIN,NaN,23.301.948,20-23301948-9,09/10/2013,EFECTIVO,"$ 10.000,00"
51,RODRIGUEZ EDGARDO JAVIER,NaN,21.502.793,20-21502793-8,09/10/2013,EFECTIVO,"$ 10.000,00"
52,KARPINSKY ENRIQUE MARCELO,NaN,14.877.266,20-14877266-6,09/10/2013,EFECTIVO,"$ 10.000,00"
53,GRIMBERG MARQUEZ JUAN CARLOS,NaN,7.831.240,20-07831240-9,09/10/2013,EFECTIVO,"$ 10.000,00"
54,BOGADO GONZALEZ JULIO BERNABE,NaN,27.592.814,20-27592814-4,09/10/2013,EFECTIVO,"$ 10.000,00"